@import "../../scss/mixins";
@import "../../scss/variables";

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  animation: firstLoadTransition 1s;
}

.header__img {
  width: 125px;
}

.header__btn {
  border: none;
  background-color: $bg-btn-menu;
  padding: 10px 15px;
  border-radius: 15px;
  font-weight: bold;
  color: $primary-clr-one;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .header__btn {
    display: none;
  }
}
