@mixin font-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

@mixin font-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@mixin font-lg {
  font-size: 1.1rem;
  line-height: 1.75rem;
}

@mixin font-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

@mixin font-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

@mixin productCtaBtn($bgColor, $txtColor) {
  border: 0;
  padding: 12px 10px;
  border-radius: 25px;
  background-color: $bgColor;
  color: $txtColor;
  width: 100%;
  @include font-xs;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
