@mixin font-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

@mixin font-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

@mixin font-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

@mixin font-3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

@mixin font-4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}

@mixin productCtaBtn($bgColor, $txtColor) {
  border: 0;
  padding: 12px 10px;
  border-radius: 25px;
  background-color: $bgColor;
  color: $txtColor;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0;
}