@import "./mixins";
@import "./variables";

/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

body {
  overflow-x: hidden;
}

@keyframes firstLoadTransition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes firstLoadTransitionDownToUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes firstLoadTransitionLeftToRight {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes firstLoadTransitionRightToLeft {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
